<h3 class="page-header">Add a Book</h3>

<form action="/books" method="POST">
  <%- include('./_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a href="/books" class="btn btn-danger">Cancel</a>
    <button class="btn btn-primary">Add</button>
  </div>
</form>
