@import 'shared/fonts.css';
@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/buttons.css';
@import 'shared/forms.css';
@import 'shared/author.css';
@import 'shared/books.css';

:root{
  font-family: 'Gotham Rounded';
  font-size: 20px;
  color: var(--color-text-light);
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
  padding: 0;
  margin: 0;
}

.header-nav{
  background: #262525;
  padding: 1.2rem;
}

.container{
  max-width: 1200px;
  margin: auto;
  margin-bottom: 3rem;
}

.inner-container{
  margin: 0 2rem;
}

.page-header{
  font-size: 2rem;
  font-weight: 500;
}

footer{
  position: fixed;
  bottom: 10px;
  margin: auto;
  margin-bottom: 10px;
  padding: .5rem;
  background-color: rgba(0, 0, 0, .5);
  color: rgba(255, 193, 69, 0.7);
  font-size: .7rem;
  border: 1px solid white;
  border-radius: 5rem;
}

.error-message{
  color: hsl(var(--color-danger-hue), 100%, 50%);
}

#book-title-link:visited{
	color: hsl(var(--color-danger-hue), 100%, 70%);
}
