<h3>Search Author</h3>

<form action="/authors" method="GET">
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button>Search</button>
</form>

<br>

<% authors.forEach((author, i) => { %>
  <div> - <%= author.name %> </div>
  <div>
    <a href="/authors/<%= author.id %>">Show</a>
    <a href="/authors/<%= author.id %>/edit">Edit</a>
  </div>

<% }) %>
